  <% if flash[:error] %>
    <div class="text-danger">
      <% flash[:error].each do |msg| %>
        <p> <%= msg %> </p>
      <% end %>
    </div>
  <% end %>
<%= form_for [:admin, @category, @item] do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.cktext_area :description, rows: 10, class: 'form-control' %>
  </div>

   <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class: 'form-control', style: 'width: 50%;', type: 'number' %>
  </div>
  <%= f.hidden_field :category_id, value: @category.id %>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary pull-right' %>
  </div>
<% end %>