<div class="col-md-10 col-md-offset-1" style="padding: 0;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><b>NEW ITEM</b></h4>
    </div>
    <div class="panel-body">
      <%= render 'form' %>
    </div>
  </div>
</div>