	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href=<%= root_path %>><img src="http://res.cloudinary.com/dfg9corup/image/upload/v1494961946/logo_ksct52.png" alt="" /></a>
						</div>
						<div class="btn-group pull-right">					
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<% if user_signed_in? %>
                  <li><div><a href=<%= carts_index_path %>><i class="fa fa-shopping-cart"></i> Cart</a></div></li>
                  <li><div><%= link_to "<i class='fa fa-sign-out' aria-hidden='true'></i>Logout".html_safe, destroy_user_session_path, method: :delete %></div></li>
                  <% if current_user.admin? %>
                    <li><div class="admin_category"><%= link_to "<i class='fa fa-user' aria-hidden='true'></i>Admin".html_safe, admin_root_path %></div></li>
                  <% end %>
                <% else %>
                  <li><div><%= link_to "<i class='fa fa-sign-out' aria-hidden='true'></i><b>Login/Register</b>".html_safe, new_user_session_path %></div></li>
                  <li class="dropdown">
			              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-top: 0px;"><b>Others</b> <span class="caret"></span></a>
			              <ul id="login-dp" class="dropdown-menu">
			                <li>
			                  <div class="row">
			                    <div class="col-md-12">
			                      Login via
			                      <div class="social-buttons">
			                        <a href="/users/auth/facebook" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
			                        <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
			                      </div>
			                    </div>
			                  </div>
			                </li>
			              </ul>
			            </li>
                <% end %>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<div class="container">
								<div class="col-sm-3 pull-right">
									<div class="search_box">
										<%= form_tag search_categories_path do %>
								       <input type="text" name="query" id="item_search" class="item_search" placeholder="Enter item name" autocomplete="off" >
								       <button class="btn btn-primary" style="margin-top: 12px;">Search</button>
								     <% end %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->