<div class="container">
  <div style="max-height: 500px; overflow: auto">
    <table class="table table-hover text-center data_table">
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Customer Name</th>
          <th class="text-center">Email</th>
          <th class="text-center">Address</th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.id  %></td>
            <td><%= link_to order.customer_name, order_path(order.id) %></td>
            <td><%= order.email %></td>
            <td><%= truncate(order.contact_address, length: 50, separator: ' ') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>