  <section id="cart_items">
    <div class="container">
      <div id="order">
         <div class="tab-pane fade active in" id="reviews" style="padding: 0" >
            <div class="col-sm-12" style="padding: 0">
              <div>

                <%= form_for @order, remote: true do |f| %>
                  <div>
                    <span>
                      <%= f.text_field :customer_name, placeholder: "Your Name" %>
                      <%= f.email_field :email, placeholder: "Email Address" %>
                    </span>
                  </div>
                  <%= f.text_area :contact_address, placeholder: "Your contact address" %>
                  <% @image_url_array.each do |image_url_array| %>
                    <%= f.hidden_field :image_url_array, :name => 'order[image_url_array][]', value: image_url_array %>
                  <% end %>
                  <% @name_array.each do |name_array| %>
                    <%= f.hidden_field :name_array, :name => 'order[name_array][]', value: name_array %>
                  <% end %>
                  <% @price_array.each do |price_array| %>
                    <%= f.hidden_field :price_array, :name => 'order[price_array][]', value: price_array %>
                  <% end %>
                  <% @quantity_array.each do |quantity_array| %>
                    <%= f.hidden_field :quantity_array, :name => 'order[quantity_array][]', value: quantity_array %>
                  <% end %>
                  <%= f.hidden_field :total_price, value: @total_price %>
                  <%= button_tag 'Submit', class: 'btn btn-default pull-right' %>
                <% end %>

              </div>

            </div>
          </div>
      </div>
    </div>
  </section> <!--/#cart_items-->