<div class="container">
  <section id="cart_items">
  <h4>
    Customer Name: <%= @order.customer_name %><br/>
    Email: <%= @order.email %><br/>
    Contact Adress: <%= @order.contact_address %>
  </h4>
  <div class="table-responsive cart_info">
    <table class="table table-condensed">
      <thead>
        <tr class="cart_menu">
          <td class="image"><div class="text-center">Item</div></td>
          <td class="description"></td>
          <td class="price"><div class="text-center">Price</div></td>
          <td class="quantity"><div class="text-center">Quantity</div></td>
          <td class="total"><div class="text-center">Total</div></td>
        </tr>
      </thead>
      <% @order.image_url_array.each_with_index do |image, index| %>
        <tbody>
          <tr>
            <td class="cart_product text-center">
              <%= image_tag url_image(index) %>
            </td>
            <td class="cart_description text-center">
              <h4><%= item_name(index) %></h4>
            </td>
            <td class="cart_price text-center">
              <p><%= number_to_currency(item_price(index)) %></p>
            </td>
            <td class="cart_quantity text-center">
              <div class="cart_quantity_button" id="cart_quantity" style="display: inline;">
                <p><%= quantity(index) %></p>
              </div>
            </td>
            <td class="cart_total text-center">
              <p class="cart_total_price"><%= number_to_currency(total_item_price(index)) %></p>
            </td>
          </tr>
        </tbody>
      <% end %>
          <tfoot>
            <tr class="cart_menu">
              <td class="image" id="total_item"><div class="text-center"></div></td>
              <td class="description"></td>
              <td class="price"></td>
              <td class="quantity" id="total_quantity"><div class="text-center"></div></td>
              <td class="total" id="total"><div class="text-center">Total<br/><%= number_to_currency(@order.total_price) %></div></td>
              <td></td>
            </tr>
          </tfoot>
    </table>
  </div>
</section>
</div>