  <section id="cart_items">
    <div class="container">
      <div class="breadcrumbs">
        <ol class="breadcrumb">
          <li><%= link_to "Home", root_path %></li>
          <li class="active">Shopping Cart</li>
        </ol>
      </div>
      <div class="table-responsive cart_info">
        <table class="table table-condensed" style="width: 99%;">
          <thead>
            <tr class="cart_menu">
              <td class="image"><div class="text-center">Item</div></td>
              <td class="description"></td>
              <td class="price"><div class="text-center">Price</div></td>
              <td class="quantity"><div class="text-center">Quantity</div></td>
              <td class="total"><div class="text-center">Total</div></td>
            </tr>
          </thead>
          <% if current_user %>
            <tbody>
            <% @cart_items.each_with_index do |item, index| %>
              <tr id="tr_cart_<%= item.id%>">
                <td class="cart_product text-center">
                  <%= image_tag item.image.small_thumb.url %>
                </td>
                <td class="cart_description text-center">
                  <h4><%= link_to item.name, item_path(item.id) %></h4>
                </td>
                <td class="cart_price text-center">
                  <p ><%= number_to_currency(item.price) %></p>
                </td>
                <td class="cart_quantity text-center">
                  <div class="cart_quantity_button" style="display: inline;">
                    <%= form_for carts_index_path(:item_id => item.id, :quantity => @cart_quantity[index] ), :html => {:style => 'display: inline;', :id => 'edit_cart_' + "#{item.id}"} do |f| %>
                      <%= f.text_field :quantity, value: @cart_quantity[index], :style => 'width: 80px;', type: 'number', size: 2, :data_id => item.id, :data_price =>  item.price, class: 'cart_quantity', name: 'cart_quantity', id: 'quantity_input' %>
                      <%#= f.hidden_field :item_id, value: item.id %>
                    <% end %>
                  </div>
                </td>
                <td class="cart_total text-center">
                  <p class="cart_total_price" id="total_price_cart_<%=item.id%>"><%= total_price(item, index) %></p>
                </td>
                <td class="cart_delete">
                  <%= link_to '<i class="fa fa-times"></i>'.html_safe,carts_destroy_path(:item_id => item.id), class: 'cart_quantity_delete', :data_id => item.id, data: {confirm: 'Are you sure?'} %>
                </td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr class="cart_menu">
              <td class="image" id="total_item"><div class="text-center"><%= @number_item %> Items</div></td>
              <td class="description"></td>
              <td class="price"></td>
              <td class="quantity text-center" id="total_quantity">Total quantity <br/> <%= @total_number_item %></td>
              <td class="total text-center" id="total">Total<br/><%= number_to_currency(@total) %></td>
              <td></td>
            </tr>
          </tfoot>
          <% end %>
        </table>
        <div class="order_button">
          <%= link_to '<i class="fa fa-shopping-cart"></i> <b>ORDER</b>'.html_safe, new_order_path, class: 'btn btn-primary pull-right' %>
        </div>
      </div>
    </div>
  </section> <!--/#cart_items-->