$('#total_price_cart_<%=@item_id%>').html("<div style = 'text-align: center;'><%= number_to_currency(@total_price) %></div>")
$('#total_quantity').html("<div style = 'text-align: center;'>Total quantity<br/><%= @total_number_item %></div>");
$('#total_item').html("<div style = 'text-align: center;'><%= @number_item %> Items</div>");
$('#total').html("<div style = 'text-align: center;'>Total<br/><%= number_to_currency(@total) %></div>");