<section id="form" style="margin-top: 0px; "><!--form-->
    <div class="container">
    <%= bootstrap_devise_error_messages! %>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
          <div class="login-form" id="login-form"><!--login form-->
            <h2>Login to your account</h2>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
              <%= f.email_field :email, autofocus: true, placeholder: 'Email Address' %>
              <%= f.password_field :password, autocomplete: 'off', placeholder: 'Password' %>
              <span>
                <%= f.check_box :remember_me, class: 'checkbox' %> 
                Keep me signed in
              </span>
              <%= f.button  t('.sign_in', default: 'Sign In'), class: 'btn btn-default' %>
            <% end %>
          </div><!--/login form-->
        </div>
        <div class="col-sm-1">
          <h2 class="or">OR</h2>
        </div>
        <div class="col-sm-4">
          <div class="signup-form"><!--sign up form-->
            <h2>New User Signup!</h2>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
              <%= f.email_field :email, autofocus: true, placeholder: 'Email Address' %>
              <%= f.password_field :password, autocomplete: 'off', placeholder: 'Password' %>
              <%= f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Password_confirmation' %>
              <%= f.button  t('.sign_up', default: 'Sign Up'), class: 'btn btn-default' %>
            <% end %>
          </div><!--/sign up form-->
        </div>
      </div>
    </div>
  </section><!--/form-->
