<div class="container" id="auto_scroll">
  <div class="row">
    <div class="col-sm-9 padding-right">
      <div class="product-details"><!--product-details-->

        <div class="col-sm-5">
          <div class="view-product">
            <%= image_tag @item.image.large_thumb.url %>
          </div>
        </div>

        <div class="col-sm-7">
          <div class="product-information"><!--/product-information-->
            <div>
              <h2><%= @item.name %></h2>
              <span>
              <div style="display: inline;">
                <span><%= number_to_currency(@item.price) %></span>
                <label>Quantity:</label>
                <div class = 'cart_quantity_details' style="display: inline;">
                  <%= form_for @item, :html => { :style => 'display: inline;' } do |f| %>
                    <%= f.text_field :quantity, value: "3", type: 'number', :data_id => @item.id, name: 'item_quantity', id: 'quantity_input' %>
                    <%#= f.hidden_field :item_id, value: @item.id %>
                  <% end %>
                </div>
              </div>
                <button class = "btn cart add-to-cart-details" item-id = '<%= @item.id%>' data_user = '<%= current_user %>' data_price = '<%= @item.price %>' style='margin: 0; margin-bottom: 8px;' ><i class="fa fa-shopping-cart"></i>Add to cart</button>
              </span>
            </div>
              <div>
              <div class="col-sm-7">
                <p>Average rating</p>
                <div id="star" ></div>

                <% if current_user %>
                  <p>Your rating</p>
                  <div id="user_star" ></div>
                <% end %>
              </div>
            </div>
          </div><!--/product-information-->
        </div>
      </div><!--/product-details-->
      
      <div class="category-tab shop-details-tab"><!--category-tab-->
        <div class="col-sm-12">
          <ul class="nav nav-tabs">
            <li><a href="#details" data-toggle="tab">Details</a></li>
          </ul>
        </div>
        <div class="tab-content">
          
          
          <div class="tab-pane fade active in" id="reviews" >
            <div class="col-sm-12">
              <%= @item.description.html_safe %>
              <hr>
              <div><b>Write Your Review</b></div>
              <br>
              <div id = "message">
                <% @item.comments.each do |comment| %>
                  <div><p><b><%= comment.user_name %>:</b> <i><%= comment.content %></i></p></div>
                <% end %>
              </div>
              <div>

                <%= form_for @item.comments.new, remote:true do |f| %>
                  <div>
                    <span><%= f.text_field :user_name, style: 'margin-left: 0;', placeholder: "Your Name" %></span>
                  </div>
                  <%= f.text_area :content, placeholder: "Your reviews here!" %>
                  <%= f.hidden_field :item_id, value: @item.id %>
                <% end %>
                <%= button_tag 'Submit', class: 'btn btn-default pull-right', id: 'btn-comment' %>

              </div>

            </div>
          </div>
          
        </div>
      </div><!--/category-tab-->
      
    </div>
  </div>
</div>
