<div class="col-md-offset-2">
  <%= form_for [:admin, @category] do |f| %>

      <% if flash[:error] %>
        <div class="text-danger">
          <% flash[:error].each do |msg| %>
            <p> <%= msg %> </p>
          <% end %>
        </div>
      <% end %>

      <div class="row col-md-8" style="margin: 50px 0;">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit class: 'btn btn-primary pull-right' %>
        </div>
      </div>

  <% end %>
</div>
