  <div class="container-fluid">

    <div class="modal fade" id="myModal" role="dialog" style="padding: 30px;">

    </div>

    <div class="row">
      <div class="col-sm-4" style="clear: both; float: left;">
        <div class="left-sidebar">
          <h2>Category</h2>
          <div class="panel-group category-products"><!--category-productsr-->
            <%= link_to 'New Category', new_admin_category_path, class: 'btn btn-default' %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 style="display: inline-block;">
                  <div class="admin_category_div" style="padding-right: 5px;">
                    <%= link_to "All", admin_categories_path, class: 'admin_category' %>
                  </div>
                </h4>
              </div>
              <% @categories.each do |category| %>
                <div class="panel-heading">
                  <h4 class="panel-title" style="display: inline-block;">
                  <div class="admin_category_div row" style="padding-right: 5px;">
                    <%= link_to category.name, admin_category_path(category.id), class: 'admin_category' %>
                  </div>
                  </h4>
                  <div class="navbar-right">
                    <div class="btn btn-default" style="padding: 0 2px;">
                    <%= link_to 'New Item', new_admin_category_item_path(category.id), remote: true %>
                  </div>
                  <div class="btn btn-default" style="padding: 0 2px;">
                    <%= link_to "Edit", edit_admin_category_path(category) %>
                  </div>
                  <div class="btn btn-default" style="padding: 0 2px;">
                    <%= link_to "Delete", admin_category_path(category.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div><!--/category-products-->
            <%= link_to 'Order List', orders_path, class: 'btn btn-default' %>
            <hr>
            <div style="max-height: 200px; overflow: auto">
              <table class="table text-center">
              <thead>
                <tr>
                  <th class="text-center">ID</th>
                  <th class="text-center">Customer Name</th>
                  <th class="text-center">Address</th>
                </tr>
              </thead>

              <tbody>
                <% @orders.each do |order| %>
                  <tr>
                    <td><%= order.id  %></td>
                    <td><%= link_to order.customer_name, order_path(order.id) %></td>
                    <td><%= truncate(order.contact_address, length: 50, separator: ' ') %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            </div>
        </div>
      </div>
      
      <div class="col-sm-8" style="float: left; max-height: 550px; overflow: auto;">
        <div class="left-sidebar">
          <h2>Item</h2>
          <div class="container-fluid">
            <div class="col-sm-6 pull-right" style="position: fixed; top: 80px; left: 1000px;">
              <div class="search_box" >
                <%= form_tag search_admin_categories_path do %>
                   <input type="text" name="query" id="admin_item_search" class="item_search" placeholder="Enter item name" autocomplete="off" >
                   <button class="btn btn-primary">Search</button>
                 <% end %>
              </div>
            </div>
          </div>
          <div class="panel-group category-products"><!--category-productsr-->
            <div class="panel panel-default" id="admin_items">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center">Image</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>

                <tbody class="text-center">
                  <% @items.each do |item| %>
                    <tr>
                      <td>
                        <%= image_tag item.image.small_thumb.url  %>
                      </td>
                      <td><%= link_to item.name, item_path(item.id) %></td>

                      <td><%= number_to_currency(item.price) %></td>
                      <td>
                        <%= link_to "<i class='fa fa-pencil-square-o fa-2x' aria-hidden='true'></i>".html_safe, edit_admin_category_item_path(item.category.id, item.id), remote: true %> --
                        <%= link_to "<i class='fa fa-trash-o fa-2x' aria-hidden='true'></i>".html_safe, admin_category_item_path(item.category.id, item.id), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div><!--/category-products-->
        </div>
      </div>

    </div>
  </div>

  </div>
