/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-typeahead-rails
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.selected{
  background-color: orange;
}
.change-text-color{
  color: white !important;
}
h4{
  border-radius: 4px;
  padding: 7px 0;
}
h4 a{
  padding-left: 10px;
}
.btn-primary{
  border-radius: 5px !important;
}
.product-image-wrapper{
  border:none;
}
.product-image-wrapper:hover img{
  transform: scale(1.2);
  transform-origin: 50% 100%;
  opacity: 0.5;
}
.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}
.twitter-typeahead {
  .tt-hint {
    display: none;
  }

  .tt-dropdown-menu {
    width: 100%;
    background: white;
    border: 1px solid rgb(221, 221, 221);
    padding: 12px;
  }
}
.panel-default{
    margin: 0;
}
.cke_contents{
    height: 500px !important;
}
.modal.fade:not(.in){
    -webkit-transform: translate3d(0, 125%, 0);
    transform: translate3d(0, 125%, 0);
}