<div>
  <% @items.each do |item| %>
    <div class="col-sm-4" style="height: 372px;" >
      <div class="product-image-wrapper">
        <div class="single-products">
          <div class="productinfo text-center">
            <%= link_to (image_tag item.image.thumb.url), item_path(item.id) %>
            <h2><%= number_to_currency(item.price) %></h2>
            <p><%= item.name %></p>
            <div class="btn btn-primary add-to-cart my_cart" id = 'add_to_cart_<%=item.id%>' style = 'margin-bottom: 15px; margin-top: 0' item-id = '<%= item.id%>' data-user = '<%= current_user %>' ><i class="fa fa-shopping-cart"></i>Add to cart</div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-md-6 col-md-offset-3">
    <%= will_paginate @items %>
  </div>
</div>