<section id="slider"><!--slider-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div id="slider-carousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
						<li data-target="#slider-carousel" data-slide-to="1"></li>
						<li data-target="#slider-carousel" data-slide-to="2"></li>
					</ol>
					
					<div class="carousel-inner">
						<div class="item active">
							<div class="col-sm-6">
								<h1><span>E</span>-SHOPPER</h1>
								<h2>Free E-Commerce Template</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
								<button type="button" class="btn btn-default get">Get it now</button>
							</div>
							<div class="col-sm-6">
								<img src="http://res.cloudinary.com/dfg9corup/image/upload/v1494952691/girl1_msgqqi.jpg" class="girl img-responsive" alt="" />
								<img src="http://res.cloudinary.com/dfg9corup/image/upload/v1494952691/pricing_pqzmcg.png"  class="pricing" alt="" />
							</div>
						</div>
						<div class="item">
							<div class="col-sm-6">
								<h1><span>E</span>-SHOPPER</h1>
								<h2>100% Responsive Design</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
								<button type="button" class="btn btn-default get">Get it now</button>
							</div>
							<div class="col-sm-6">
								<img src="http://res.cloudinary.com/dfg9corup/image/upload/v1494952692/girl2_a0tvgn.jpg" class="girl img-responsive" alt="" />
								<img src="http://res.cloudinary.com/dfg9corup/image/upload/v1494952691/pricing_pqzmcg.png"  class="pricing" alt="" />
							</div>
						</div>

						<div class="item">
							<div class="col-sm-6">
								<h1><span>E</span>-SHOPPER</h1>
								<h2>Free Ecommerce Template</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
								<button type="button" class="btn btn-default get">Get it now</button>
							</div>
							<div class="col-sm-6">
								<img src="http://res.cloudinary.com/dfg9corup/image/upload/v1494952691/girl3_oy46s8.jpg" class="girl img-responsive" alt="" />
								<img src="http://res.cloudinary.com/dfg9corup/image/upload/v1494952691/pricing_pqzmcg.png" class="pricing" alt="" />
							</div>
						</div>
					</div>

					<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>
				
			</div>
		</div>
	</div>
</section><!--/slider-->

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<h2>Category</h2>
					<div class="panel-group category-products" id="accordian"><!--category-productsr-->
						<div class="panel panel-default">
							<% @categories.each do |category| %>
								<div class="panel-heading">
									<h4 class="panel-title"><%= link_to category.name, category_path(category.id) %></h4>
								</div>
							<% end %>
						</div>
					</div><!--/category-products-->

					<div class="shipping text-center"><!--shipping-->
						<img src="http://res.cloudinary.com/dfg9corup/image/upload/v1495447323/shipping_njpbu4.jpg" alt="" />
					</div><!--/shipping-->

				</div>
			</div>

			<div class="col-sm-9 padding-right">
				<div class="features_items"><!--features_items-->
					<h2 class="title text-center">Features Items</h2>
					<div id="features_items">
						<%= render :partial => "item_index" %>
					</div>
				</div><!--features_items-->			
			</div>
		</div>
	</div>
</section>
<script>
  $(document).ready(function(){
      (function() {
          "use strict";
          if (window.location && window.location.hash) {
              if (window.location.hash === '#_=_') {
                  window.location.hash = '';
                  history.pushState('', document.title, window.location.pathname); // nice and clean
              }
          }
      }());
  });
</script>