<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="header-middle"><!--header-middle-->
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="logo pull-left">
              <a href=<%= root_path %>><img src="http://res.cloudinary.com/dfg9corup/image/upload/v1494961946/logo_ksct52.png" alt="" /></a>
            </div>
            <div class="btn-group pull-right">          
            </div>
          </div>
          <div class="col-sm-8">
            <div class="shop-menu pull-right">
              <ul class="nav navbar-nav">
                <% if user_signed_in? %>
                  <li><div><a href=<%= carts_index_path %>><i class="fa fa-shopping-cart"></i> Cart</a></div></li>
                  <li><div><%= link_to "<i class='fa fa-sign-out' aria-hidden='true'></i>Logout".html_safe, destroy_user_session_path, method: :delete %></div></li>
                  <% if current_user.admin? %>
                    <li><div class="admin_category"><%= link_to "<i class='fa fa-user' aria-hidden='true'></i>Admin".html_safe, admin_root_path %></div></li>
                  <% end %>
                <% else %>
                  <li><div><%= link_to "<i class='fa fa-sign-out' aria-hidden='true'></i><b>Login/Register</b>".html_safe, new_user_session_path %></div></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4">
              <div class="logo pull-left">
                <a href= <%= root_path %><img src="assets/home/logo.png" alt="" /></a>
              </div>
            </div>
          </div>
          <%= yield %>
        </div>
    </div>


  </body>
</html>
